.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header nav {
  flex: 1;
}

.header ul {
  list-style-type: none;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
