.main-container {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}
.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}