.main-container {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.product-detail-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.product-detail-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-layout {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}