.main-container {
  width: 100%;
  margin: auto;
  text-align: center;
}
.post-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  display: inline-block;
  width: 500px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}
.post-tags {
  flex: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tag {
  background-color: #6f0685;
  color: #ffffff;
  border-radius: 100px;
  padding: 4px 8px;
  margin: 4px;
}
