.header{
    text-align: center;
    margin-top: 20px;
}

.post-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    width: 400px;
}