.header{
    text-align: center;
    margin-top: 20px;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.post-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    width: 400px;
    text-align: center;
    background-color: var(--bs-light);  
    cursor: pointer;
    transition : box-shadow 0.3s ease;
}
.post-card:hover {
    box-shadow: 4px 4px 16px rgba(0,0,0,0.2);
}