.header {
  text-align: center;
  margin-top: 20px;
}

.user-details {
  border: 1px solid #ccc;
  background-color: #cc9eb6;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.user-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 16px;
}

.birth-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.birth-date p:first-child {
  margin-bottom: 4px;
}

.birth-date p:last-child {
  font-size: 0.8em;
  color: #666;
}
