<div *ngIf="user">
  <div class="details-container">
    <div class="header">
      <h1>Détails de l'utilisateur</h1>
    </div>
    <div class="user-details">
      <img
        [src]="user.image"
        alt="{{ user.firstName }} {{ user.lastName }}"
        class="user-image"
      />
      <h2>{{ user.username }}</h2>
      <p><strong> Prénom:</strong> {{ user.firstName }}</p>
      <p><strong>Nom de famille:</strong> {{ user.lastName }}</p>
      <div class="birth-date">
        <p><strong>Date de naissance:</strong> {{ user.birthDate }}</p>
        <p>({{ user.age }} ans)</p>
      </div>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Téléphone:</strong> {{ user.phone }}</p>
      <p>
        <strong>Adresse:</strong> {{ user.address.address }},
        {{ user.address.city }}, {{ user.address.state }},
        {{ user.address.postalCode }}
      </p>
      <p>
        <strong>Entreprise:</strong> {{ user.company.name }} -
        {{ user.company.title }}
      </p>
      <p><strong>Role:</strong> {{ user.role }}</p>
      <button (click)="onClick()">Liste des posts</button>
    </div>
  </div>
</div>
