.main-container {
  width: 100%;
  margin: auto;
  text-align: center;
}
.comment-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.comment-card:hover {
  background-color: var(--bs-light);
  transform: translateY(-5px);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

.comment-content {
  flex: 1;
}

.comment-analytics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
